<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>MiniMatlab 0.1 beta</title>
    <meta charset="UTF-8" />
</head>
<body>
<section layout:fragment="content">

    <div>
        <h2>Mnożenie</h2>
        <form action="/multiply" method="post" th:object="${calculatorForm}">
            <table>
                <tr>
                    <td>   x = <input type="text" th:field="*{x}" th:errorClass="error" />
                        <span th:if="${#fields.hasErrors('x')}" th:errors="*{x}">Błędne dane</span> </td>
                </tr>
                <tr>
                    <td>  y = <input type="text" th:field="*{y}" th:errorClass="error"/>
                        <span th:if="${#fields.hasErrors('y')}" th:errors="*{y}">Błędne dane</span> </td>
                </tr>

            </table>
            <input type="submit" value="Pomnóż" />
        </form>
    </div>

</section>
</body>
</html>