<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pierwszy projekt springowy</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Przedstaw się ładnie:</h1>
<form action="/hello" method="post">
    Imię: <input type="text" name="imie" />
    Wiek: <input type="number" name="wiek" />
    <input type="submit" value="Wyślij" />
</form>

<h3>ZADANIE 1</h3>
<form action="/calc" method="post">
    Liczba a: <input type="number" name="a" />
    Liczba b: <input type="number" name="b" />
    <button>Dodaj</button>
</form>

<h3>ZADANIE 2</h3>
<form action="/operacje" method="post">
    Liczba a: <input type="number" name="a" />
    Liczba b: <input type="number" name="b" />
    <label for="operacja">Wybierz operacje:</label>

    <select id="operacja" name="operacja">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
    </select>
    <button>Wynik</button>
</form>


<h3>ZADANIE 3</h3>
<form action="/zad3" method="post">
    Liczba a: <input type="number" name="a" />
    Liczba b: <input type="number" name="b" />
    <label for="operacja">Wybierz operacje:</label>

    <select id="operacja2" name="operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
    </select>
    <button>Wynik</button>
</form>

</body>
</html>