<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring i Thymeleaf: lista pracowników</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        
        <style>
            img.empPhoto {
                width: 300px;
            }
            .fired {
                color: firebrick;
            }
            .cos{
                color: black;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" th:inline="text">
            <h1>Pan Prezes</h1>
            <p>
                <b>
                    <span th:text='|${boss.firstName} ${boss.lastName}|'></span>
                </b>
            </p>
            <img th:src="${boss.photoUrl}" class="empPhoto" 
                 src="http://via.placeholder.com/250x250"/>

            <h1>Pracownicy firmy</h1>

            <table class="table table-striped">
                <tr>
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Stanowisko</th>
                    <th>Pensja</th>
                    <th>Data zatrudnienia</th>
                    <th>Data zwolnienia</th>
                    <th>Umiejętności</th>
                    <th>Uwagi</th>
                    <th>Zdjęcie</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr th:each="employ,iterStat : ${employees}" th:classappend="${employ.dateOfTermination} ? fired : cos">
                    <td th:text="${iterStat.index}+1"></td>
                    <td th:text='|${employ.firstName} ${employ.lastName}|'> </td>
                    <td th:text="${employ.getJobTitle()}"></td>
                    <td th:text="${#numbers.formatDecimal(employ.salary,3,'WHITESPACE',2,'COMMA')}"></td>
                    <td th:text="${#dates.format(employ.dateOfEmployment,'dd.MM.yyyy')}"></td>
                    <td th:text="${employ.dateOfTermination != null}? ${#dates.format(employ.dateOfTermination,'dd.MM.yyyy')} : 'Wciąż pracuje' ">
                    </td>

                    <td>
                        <p th:each="skill,iterStat2 : ${employ.getSkills()}"
                           th:text="${iterStat2.last != true}? ${skill.getName()} + ' ('+${skill.getLevel()}+')' + ', ' : ${skill.getName()}+' ('+${skill.getLevel()}+')' ">
                        </p>
                    </td>
                    <td>
                        <p  th:each="comment ,iterStat3 : ${employ.getComments()}"
                              th:text="${comment}">
                        </p>
                    </td>
                    <td>
                        <img th:src="${employ.photoUrl}" class="empPhoto"
                             src="http://via.placeholder.com/250x250"/>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
